.green {
    position: relative;
}

.green {
    position: relative;
}

.blockFamily div {
    display: inline;
}

.blockFamily div:first-child {
    width: 150px;
    background: #ccc;
    display: inline-flex;
}